@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
}

/* Header */
.logo{
    width: 130px;
}
.navbarHeader{
    width: 240px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 35px;
    background: #000;
}
.section1OfHeader{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 14px;
}
.section2OfHeader{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 14px;
}
.iconOfbooks{
    display: flex;
    width: 20px;
    height: 20px;
    gap: 5px;
}
.columnBook{
    width: 1px;
    height: 100%;
    background: #fff;
}
.lastColumn{
    margin-left: 3px;
    transform: rotate(-20deg);
}
.addInPlaylist i{
    font-size: 25px;
}
.icon{
    width: 25px;
}
.searchIcon{
    width: 20px;
}
.navbarPages{
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
}
.homePage{
    cursor: pointer;
}
.trasparent{
    filter: opacity(70%);
    transition: all .2s;
    cursor: pointer;
}
.trasparent:hover{
    filter: opacity(100%);
}
.footerOfHeader{
    margin-top: 150px;
}
.footerOfHeader p{
    font-size: 10px;
    margin-top: 5px;
    filter: opacity(70%);
    cursor: pointer;
    transition: all .2s;
}
.footerOfHeader p:hover{
    filter: opacity(100%);
    text-decoration: underline;
}

/* Main */
main{
    background: #1c1c1c;
    height: 100vh;
    width: calc(100% - 240px);
}
.navbarTop{
    width: calc(100% - 240px);
    height: 65px;
    background: #101010;
    position: fixed;
    display: flex;
    align-items: center;
    padding: 0 30px;
    justify-content: space-between;
}
.directionButtons{
    display: flex;
    align-items: center;
    gap: 20px;
}
.directionButtons span{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    border-radius: 50%;
    cursor: no-drop;
}
.directionButtons span i{
    color: #fff;
    filter: opacity(70%);
}
.loginAndregisterButtons{
    display: flex;
    align-items: center;
}
.btnNav{
    padding: 10px 50px;
    font-size: 13px;
    background: none;
    color: #fff;
    border: none;
    font-weight: 700;
    cursor: pointer;
    margin-left: 30px;
}
.btnLogin{
    background: #fff;
    color: #000;
    border-radius: 20px;
}
.btnLogin:hover{
    font-size: 15px;
}
.main{
    padding: 90px 30px;
}
.ForNight h2{
    cursor: pointer;
    font-size: 24px;
}
.ForNight h2:hover{
    text-decoration: underline;
}
.containerOfCards{
    margin-top: 20px;
    width: 100%;
}
.viewAll{
    text-align: end;
    font-size: 12px;
    color: #ccc;
    cursor: pointer;
}
.viewAll:hover{
    text-decoration: underline;
}
.cardOfMusic{
    width: 190px;
    height: 270px;
    padding: 15px 10px;
    background: #181818;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease .2s;
}
.cardOfMusic:hover{
    background: #282828;
}
.photoContainer{
    width: 100%;
    position: relative;
}
.imgOfCard{
    width: 100%;
    box-shadow: 0px 1px 15px 11px #1a1a1a;
}
.playButon{
    bottom: 10px;
    right: 10px;
    position: absolute;
    background: #1db954;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.infoOfMusic{
    font-size: 14px;
    margin-top: 7px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.infoOfMusic p{
    color: #ccc;
}